img.redes-footer {
    width: 5px;
    filter: invert(1);
    margin: 1px;
    
} 

#redes-footer{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 20px;
}


.footer{
    display: flex;
    align-items: center;
    background-color: #D7B474;
    justify-content: center;
    

}

#Logo-footer-mobile{
    width: 20px;
}

#Logo-footer{
    display: none;

}

#direccion-footer{
    list-style: none;
    padding: 0px;
    margin: auto;

}

.patron-final{
    height: 5px;
    /*background-image: url(../assets/images/Patronnavbar.png); */
    background-color: #220B0B;
    background-repeat: repeat-y;
    background-size:100%;
    background-position: center;
   
}




@media screen and (max-width: 992px){
    .Logo-footer{
        display: block;
        width: 30px;
    }

    .footer{
        font-size: 9px;
        align-items: center;
    
    }

    
    #direccion-footer{
        list-style: none;
        padding: 0px;
        margin: auto;
        margin-left: 30px;
    }
    
    img.redes-footer {
        width: 40px;
        filter: invert(1);
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 15px;
    } 

    #redes-footer{
        padding: 2px;
        margin-top: 0px;
        
    }

    .patron-final{
        height: 30px;
    }
    .texto-footer{
        justify-content: center;
        font-size: 10px;
        color: #D7B474;
        padding-bottom: 15px;
    }
}

@media screen and (min-width: 991px){
       
    .Logo-footer{
        display: block;
        width: 70px;
    }

    .footer{
        font-size: 14px;
    }
    
    #direccion-footer{
        list-style: none;
        padding: 0px;
        margin: auto;
    }
    
    img.redes-footer {
        width: 40px;
        filter: invert(1);
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 20px;
    } 

    #redes-footer{
        padding: 0px;
        margin-top: 2px;
        
    }

    .patron-final{
        height: 50px;
                
    }

    .patron-final P {
        color: white;
        font-size: 14px;
        margin-left: 800px;
        margin-right: 800px;
        position: relative;

    }
    .texto-footer{
        justify-content: center;
        font-size: 14px;
        color: #D7B474;
        padding: 10px;

    }
 }


