body {
    background-color: #fff1d7ff; 
    margin: 0;
    padding: 0;
    background-image: url(../assets/images/Patronbody.svg); 
    background-repeat:repeat-x repeat-y;
    background-size: 400px;
    overscroll-behavior: auto;      
}

h1, .h1{ font-family: 'Cormorant', serif; font-size: 28px; text-decoration: none; }

h2, .h2{font-family: 'Cormorant', serif; font-size: 24px; text-decoration: none; }

h3, .h3{ font-family: 'Cormorant', serif; font-size: 22x; text-decoration: none; }

h4, .h4{font-family: 'Cormorant', serif; font-size: 20px; text-decoration: none; }

h5, .h5{ font-family: 'Cormorant', serif; font-size: 18px; text-decoration: none; }

h6, .h6{ font-family: 'Cormorant', serif; font-size: 16px; text-decoration: none; }

p, .p{ font-family: 'Cormorant', serif; font-size: 14px; text-decoration: none; }

.floating-button {
  position: fixed;
  bottom: 80px;
  right: 15px;
  width: 50px;
  height: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  box-shadow: 0 70px 50px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  transition: transform 0.3s ease;
}

.floating-button:hover {transform: scale(1.3);}

.floating-button img.whatsapp-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  align-items: center;
  margin: auto;
}

.scroll-to-top {
  position: fixed;
  font-size: 14px;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 50px;
}

.no-mostrar{
    display: inline-block;
}

.navbar-brand img{
    height: 5px;
}
   
#navbarNav{
    justify-content: end; 
}
.navbar-toggler{
    position: relative;
}

.nav-link{
    font-family: 'Josefin Slab', serif;
}

.navbar-brand img{
    height: 75px;
}

@media (max-width: 991px) {


    .no-mostrar{
        display: none;
        color: transparent;      
    }

    .nav-item{
        padding-left: 14px;
    }

    .navbar-brand img{
        height: 25px;
        width: auto;
    }

}

@media (min-width: 991px) {
    .navbar-brand img{
        height: 35px;
    }
    .nav-link{
        color: white;
        font-size: 16px;
    }
    .nav-item{
        padding-left: 15px;
    }

    .LogoNavBar{
        display:block;
        margin-left: 80px;
        width: 200px;
        height: 34px;
    }
  
}
