.busqueda{
    display: flex;
    padding: 5px 0px;
    border-bottom: solid black 1px;
    box-sizing: border-box;
}

.dropdown-option, .dropdown-item, .descripcion-info{
    font-size: 11px;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    
}

#info-icon{
    width: 20px;
    padding: 0px;
    
}

#info{
    display: none;
}

.descripcion-info{
    padding: 13px !important;
    
}

.dropdown-menu{
    background-color: #fff1d7ff;
}

/* Estilos de los cards */
.card-group{
    margin: 0px 10px;
    border-left: solid rgb(88,88,88) 1px; 
    border-right: solid rgb(88, 88, 88) 1px;
    
    
}

.card{
    background-color: transparent;
    border: solid rgb(146, 146, 146) 1px;
    border-radius: 0;
    padding: 0px 15px;
    width: 150;
}

.button-contact{
    background-color: #011627ff ;
    color: #D7B474;
    margin-bottom: 5px;
    font-family: 'Josefin Slab', serif;
    font-weight: bolder;
    letter-spacing: 7px;
}

.card-img-top{
    margin: auto;
    margin-top: 15px;
    width: 200px;
}

.card-title  .card-text{
    text-align: center;
}

.card-title{
    font-family: 'Cormorant', serif;
}

.card-text{
    font-family: 'Josefin Slab', serif;
    font-size: 13px;
}

@media (hover: hover) {
    .button-contact:hover{
        color: white;
        background-color: #7d1218ff ;
    }
    
    .dropdown-item:hover{
        color: white;
        background-color: #7d1218ff ;
        width: auto;
    }
}

@media screen and (min-width: 992px){

    .busqueda{
        display: flex;
        padding: 15px 0px;
        border-bottom: solid black 1px;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
    }

    .dropdown-option, .dropdown-item, .descripcion-info,  #info { 
        font-size: 30px;
        font-family: 'Josefin Slab', serif;
        font-weight: bold;
        margin: 0px 15px;
    } 

    #info{
        display: block;
    }
    
    #button-info-icon{
        display: none;
    }

    /* Estilos de los cards */
    .card-group{
        margin: 0px 40px;
        border-left: solid rgb(88,88,88) 1px; 
        border-right: solid rgb(88, 88, 88) 1px;
        
        
    }

    .card{
        background-color: transparent;
        border: solid rgb(146, 146, 146) 1px;
        border-radius: 0;
        padding: 0px 40px;
    }


    .button-contact{
        background-color: #011627ff ;
        color: #D7B474;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 24px;
    }


    .card-img-top{
        margin-top: 40px;
    }

    .descripcion-info{
        padding: 30px !important;
        
    }

    .card-title{
        font-family: 'Cormorant', serif;
        font-size: 18px;
    }

    .card-text{
        font-family: 'Josefin Slab', serif;
        font-size: 15px;
    }

}   

@media screen and (min-width: 1200px){
    .card-img-top{
        width: 300px;
    }

    .card-title{
        font-family: 'Cormorant', serif;
        font-size: 25px;
    }

    .card-text{
        font-family: 'Josefin Slab', serif;
        font-size: 18px;
    }
  
}

@media screen and (min-width: 1440px){
    .card-img-top{
        width: 100%;
    }
}